---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="zh">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BaseLayout>
			<main>
				<h1>404</h1>
				<p>页面未找到</p>
				<p id="back-tip"></p>
			</main>
		</BaseLayout>
	</body><script>
		let tip = document.getElementById("back-tip");
		if (tip) {
			let tipText;
			if (window.history.length > 1) {
				tipText = "秒后返回上一级";
			} else {
				tipText = "秒后返回首页";
			}
			let seconds = 5;
			tip.textContent = `${seconds}${tipText}`;
			const timer = setInterval(() => {
				seconds--;
				tip.textContent = `${seconds}${tipText}`;
				if (seconds <= 0) {
					clearInterval(timer);
					if (window.history.length > 1) {
						window.history.back();
					} else {
						window.location.href = "/";
					}
				}
			}, 1000);
		}
	</script>
</html>
