---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import KatexStyle from "../components/KatexStyle.astro";
import Giscus from "../components/Giscus.astro";
import BaseLayout from "./BaseLayout.astro";
import StaticTOC from "../components/StaticTOC.astro";
import type { MarkdownHeading } from "astro";

type Props = CollectionEntry<"posts">["data"] & {
	headings: MarkdownHeading[];
};

const { title, description, pubDate, updatedDate, heroImage, headings } =
	Astro.props;
---

<html lang="zh">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				view-transition-name: hero-img;
				box-shadow: 0px 4px 15px rgba(var(--gray), 0.5);
			}
			.prose {
				padding: 0 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			article {
				padding: 1em 0 0 0;
			}
			.content {
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					position: relative;
					width: fit-content;
					&::after {
						content: "";
						display: block;
						position: absolute;
						height: 0.55em;
						--left-offset: -0.3em;
						left: var(--left-offset);
						bottom: 0;
						transform: translateY(-50%);
						width: calc(100% - var(--left-offset));
						background-color: rgba(221, 0, 255, 0.1);
					}
				}
				h1::after {
					border-left: rgba(221, 0, 255, 0.4) 5px solid;
				}
				h2::after {
					border-left: rgba(221, 0, 255, 0.3) 4px solid;
				}
			}
			/* 和 BaseLayout 的保持一致 */
			@media screen and (max-width: 800px) {
				article {
					padding-top: 0;
				}
				.hero-image img {
					border-radius: 0;
				}
			}
		</style>
	</head>

	<body>
		<BaseLayout>
			<article data-pagefind-body>
				<div class="hero-image">
					{
						heroImage && (
							<Image
								width={800}
								src={heroImage}
								alt="hero image"
							/>
						)
					}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										最后更新于{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<div class="content">
						<KatexStyle>
							<slot />
						</KatexStyle>
					</div>
				</div>
			</article>
			<Giscus style="padding: 0 1em 2em 1em; box-sizing: border-box;" />
			{
				headings.length > 0 && (
					<StaticTOC slot="right" headings={headings} />
				)
			}
		</BaseLayout>
	</body>
</html>
